@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
/*========== VARIABLES CSS ==========*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  --font-bold: 700;
}

/*========== COLORS ==========*/
:root {
  --first-color: #10cab7;
  --first-color-alt: #2c4755;
  --white-color: #fafaff;
  --dark-color: #101010;
  --dark-color-light: #606060;
  --gray-color: #f0f1f3;
}

/*========== FONTS TYPOGRAPHY ==========*/
:root {
  --body-font: "Open Sans", sans-serif;
  --big-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 6rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;
  }
}

/*========== margines ==========*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}

/*========== z-index ==========*/
:root {
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--dark-color);
  line-height: 1.6;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}
/*===================== HEADER ========================*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--gray-color);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--white-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  color: var(--dark-color);
  font-weight: var(--font-semi);

  display: block;
  padding: 12px;
  text-decoration: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.nav__item:hover,
.nav__link:hover {
  color: var(--first-color);
  cursor: pointer;
  background-color: var(--first-color-alt);
}

.nav__logo {
  font-weight: var(--font-bold);
}

.nav__cart {
  font-size: 1.5rem;
  margin-right: var(--mb-2);
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

/*========== SHOW MENU ==========*/
.show {
  right: 0;
}

.active {
  color: var(--first-color);
}
/*===================== LANDING ========================*/
.home {
  background-image: url("../img/6.jpg");
  background-size: cover;
  height: calc(100vh - var(--header-height));
}
.home .container {
  margin-right: 15px;
  margin-left: 15px;
}
.home__social {
  display: grid;
  grid-template-columns: max-content;
  margin-top: 30px;
}

.home__social-icon {
  font-size: 1.5rem;
  color: var(--first-color);
}

.home__social-icon:hover {
  color: var(--first-color-alt);
}

.home .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  max-width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.home .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 32px;
  color: #10cab7;
}
.home .intro-text p {
  font-size: 18px;
  line-height: 1.8;
  color: var(--white-color);
}

/*========================================= MEDIA =======================================*/

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
    justify-content: initial;
  }

  .nav__menu {
    margin-left: auto;
  }

  .nav__list {
    display: flex;
  }

  .nav__item {
    margin-left: var(--mb-4);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }
  .home {
    height: 100vh;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
